img {
  max-width: 100%;
}

.octocat {
  width: 30%;
  padding: 3px 4px;
  float: left;
  margin: 12px;
  border-bottom: 1px solid rgba(136,136,136, .5);
  padding-bottom: 7px;
}


.octocat img {
  border: 1px solid     rgba(136,136,136, .5);
  border-radius: 4px;
} 

.image-footer {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-weight: bold;
}

.image-caption a, .image-caption span {
 float: left
}

.the {
  margin-left: 51%
}

.thee {
  margin-left: 32%;
}

.link {
  margin: 9px 4px 0;
}

a {
  text-decoration: none;
  color: RGBA(53, 59, 88, 1);
}

.image-caption span {
  margin-top: 9px;
  color: RGBA(119, 120, 121, 1);
}

.authors a {
  width: 35px;  
  float: right;
}

.authors img {
  border: none;
  border-radius: 20%;
  margin-top: 4px;
}

.image-number {
  float: left;
  margin-top: 9px;
  margin-left: 2px;
  color: RGBA(206, 204, 202, 1);
  
}

.image-number:before {
  content: "#"

}

ul {
  list-style: none;
}